/* ========================= device (xs 0 > 576) ========================= */
@media (max-width: 575.98px) {
}
/* ========================= device (xs 0 > 576) ========================= */

/* ========================= device (sm 576 > 768) ========================= */
@media (min-width: 576px) and (max-width: 767.98px) {
}
/* ========================= device (sm 576 > 768) ========================= */

/* ========================= device (md 768 > 992) ========================= */
@media (min-width: 768px) and (max-width: 991.98px) {
}
/* ========================= device (md 768 > 992) ========================= */

/* ========================= device (lg 992 > 1200) ========================= */
@media (min-width: 992px) and (max-width: 1199.98px) {
}
/* ========================= device (lg 992 > 1200) ========================= */

/* ========================= device (xl 1200 > 1400) ========================= */
@media (min-width: 1200px) and (max-width: 1400px) {
}
/* ========================= device (xl 1200 > 1400) ========================= */

/* ========================= device (xxl 1400 >>) ========================= */
@media (min-width: 1400px) {
}
/* ========================= device (xxl 1400 >>) ========================= */

@media (max-width: 991px) {
  .section_bg {
    padding: 20px 10px;
  }
  .main_menu_area {
    max-width: 100%;
    padding: 0 20px;
    margin-top: 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: var(--section-bg-clr);
    border-radius: 0;
    transform: translate(0);
  }

  .main_menu_area ul.nav {
    max-width: fit-content;
    margin-left: auto;
    align-items: start;
    gap: 0;
  }
  .main_menu_area nav .nav-link.active {
    color: var(--theme-clr);

    justify-content: baseline;
  }
  .main_menu_area ul.nav a span {
    display: inline-block;
    position: initial;
    border: none;
  }
  .my_intro {
    margin-top: 120px;
    max-width: 100%;
  }
  .about_details ul {
    grid-template-columns: 1fr;
  }
  .main_menu_area nav a {
    display: flex;
    align-items: center;
  }
  .tooltip-arrow::before,
  .tooltip-inner {
    display: none;
  }
  .contact {
    grid-template-columns: 1fr;
  }
  .education_details ul li,
  .experiences ul li {
    grid-template-columns: 1fr;
  }
  .main_menu_area .navbar-brand p {
    display: block;
    margin-bottom: 12px;
    align-self: end;
    font-size: 16px;
  }
  .education_details ul li,
  .experiences > ul > li {
    margin-bottom: 20px;
  }
  .company_name p:last-child {
    margin-bottom: 0;
  }

  .contact_left ul li {
    gap: 7px;
  }
  .contact_left .contact_icon i {
    font-size: 30px;
  }
  .under_const {
    font-size: 20px;
  }
  .intro h2 {
    font-size: 40px;
  }
  .contact_form .submit_btn button {
    width: 100%;
  }
  .home_content {
    grid-template-columns: 1fr;
  }
  .all_portfolios {
    gap: 30px;
    grid-template-columns: 1fr;
  }
}
