/* ======== Roboto google fonts ========*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ======== global css ========*/

:root {
  --primary-font: "Poppins", sans-serif;
  --primary-heading-font-size: 48px;
  --secendary-heading-font-size: 24px;
  --para-font-size: 16px;
  --primary-heading-line-height: 60px;
  --secendary-heading-line-height: 32px;
  --para-line-height: 30px;
  --font-weight-600: 600;
  --font-weight-500: 500;
  --para-font-weight: 400;
  --body-bg-clr: #15191a;
  --section-bg-clr: #212223;
  --theme-clr: #00bc91;
  --heading-text-clr: #fff;
  --para-text-clr: #999;
}

/* ======== global css ========*/

/* ======== reset and common css ========*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}
body,
html {
  scroll-behavior: smooth;
  background-color: var(--body-bg-clr);
  scroll-padding-top: 20px;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a.btn {
  text-decoration: none;
  display: inline-block;
  text-transform: capitalize;
  font-weight: var(--font-weight-600);
  font-size: 14px;
  line-height: 20px;
  background-color: var(--theme-clr);
  color: var(--heading-text-clr);
  padding: 15px 20px;
  border: 2px solid var(--theme-clr);
  transition: all 0.3s linear;
}
a.btn:hover {
  color: var(--theme-clr);
  background: transparent;
  border: 2px solid var(--theme-clr);
}
h2 {
  text-transform: capitalize;
  font-size: var(--primary-heading-font-size);
  font-weight: var(--font-weight-600);
  line-height: var(--heading-line-height);
  color: var(--heading-text-clr);
}
h2 span {
  color: var(--theme-clr);
}
h3 {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: var(--heading-text-clr);
}
h4 {
  font-size: var(--secendary-heading-font-size);
  font-weight: var(--font-weight-500);
  line-height: var(--secendary-heading-line-height);
  color: var(--heading-text-clr);
}
h5 {
  color: var(--heading-text-clr);
  font-size: 14px;
  font-weight: var(--font-weight-500);
  line-height: 20px;
}
p {
  font-size: var(--para-font-size);
  font-weight: var(--para-font-weight);
  line-height: var(--para-line-height);
  color: var(--para-text-clr);
}
p span {
  font-weight: var(--font-weight-500);
  color: var(--heading-text-clr);
}
img {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 95%;
}
.section_bg {
  background-color: var(--section-bg-clr);
  padding: 20px;
  border-radius: 10px;
}
/* ======== reset and common css ========*/

/* ====== Introduce section css====== */

/* profile intro */

.my_intro {
  max-width: 350px;
  margin-top: 15px;
  background-color: var(--section-bg-clr);
  padding: 15px;
  border-radius: 10px;
  clip-path: polygon(0 0, 55% 0, 62% 6%, 100% 6%, 100% 100%, 0 100%);
}
.profile {
  border-bottom: 2px solid #2d2e2f;
}
.profile .img_box {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid #2d2e2f;
  overflow: hidden;
  margin: 0 auto;
}
.profile_details ul,
.profile_details ul li,
.skills ul {
  display: flex;
}
.profile_details ul {
  flex-direction: column;
}
.profile_details ul li {
  justify-content: space-between;
}
.profile_details ul li .circlechart {
  color: #fff;
}
.profile_skills {
  padding: 15px;
  background-color: #2d2e2f;
  border-radius: 10px;
}
.skills ul {
  justify-content: space-between;
}

/* profile intro */

/* ====== Introduce section css====== */

/* ====Main content area css */

/* home area */

h3.section_heading {
  border: 2px solid #2d2e2f;
  padding: 7px 25px;
  display: inline-block;
  border-radius: 30px;
  text-transform: uppercase;
}
h3.section_heading i {
  color: var(--theme-clr);
  margin-right: 10px;
}
.home_content {
  display: grid;
  grid-template-columns: 4fr 2fr;
  justify-content: space-between;
  align-items: center;
}
.home_content .profile_img img {
  filter: grayscale(100%);
}
.availabality p i {
  margin-right: 10px;
  color: var(--theme-clr);
}
.hire_btn a.btn {
  padding: 15px 35px;
  font-size: 16px;
}

/* home area */

/* About me area */

.single_skill {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  border: 2px solid #2d2e2f;
  border-radius: 30px;
}
.single_skill p {
  margin-bottom: 0;
}
.about_details ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
  justify-content: space-between;
}
.about_details ul li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #2d2e2f;
  margin-bottom: 15px;
}
/* About me area */

/* Service area */

.services .accordion.servie_accordion {
  --bs-accordion-bg: var(--section-bg-clr);
}
.services .accordion.servie_accordion .accordion-item {
  border: 2px solid #2d2e2f;
}
.services .accordion.servie_accordion .accordion-button:not(.collapsed) {
  background-color: transparent;
}
.services .accordion.servie_accordion .accordion-button {
  color: #fff;
}
.services .accordion.servie_accordion .accordion-button:focus {
  box-shadow: none;
}
.services .accordion.servie_accordion .accordion-button::after {
  content: "\f107";
  font-family: "FontAwesome";
}

.services h2.service_num {
  font-size: 18px;
}

.services .accordion-body ul li p i {
  color: var(--theme-clr);
  margin-right: 10px;
}
.check_content {
  color: var(--para-text-clr);
}
/* Service area */

/* Main Skills Area */

.main_skills .skill .skill_icon {
  width: 80px;
  height: 80px;
}
.main_skills .skill .skill_icon img {
  filter: grayscale(50%);
}
.main_skills .skill .round_progress p {
  font-size: 20px;
}

/* Main Skills Area */

/* Resume area  */

.company_name p.c_name {
  color: var(--heading-text-clr);
  font-weight: var(--font-weight-500);
  margin-bottom: 0;
}
.education_details ul li,
.experiences > ul > li {
  display: grid;
  grid-template-columns: 2fr 3fr;
  border-bottom: 1px solid #2d2e2f;
  align-items: center;
}
.education_details ul li:last-child,
.experiences ul li:last-child {
  border-bottom: none;
}
.experience_details h4.position {
  margin-top: 15px;
  font-size: 18px;
}
.experiences .experience_details ol li {
  display: flex;
  gap: 8px;
  color: var(--para-text-clr);
  font-size: var(--para-font-size);
  font-weight: var(--para-font-weight);
  margin-bottom: 10px;
}
.experiences .experience_details ol li i {
  color: var(--theme-clr);
  margin-top: 3px;
}
/* Resume area  */

/* portfolios area  */

/* portfolios area  */

/* contact area  */

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact_left .contact_icon i {
  color: var(--theme-clr);
  font-size: 40px;
  width: 45px;
}
.contact_left ul li {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 45px;
  margin-bottom: 50px;
}
.contact_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.contact_info h3 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 0;
}
.contact_info p {
  margin-bottom: 0;
}
.input_group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #fff;
  margin-bottom: 15px;
}
.input_group textarea::placeholder,
.input_group input::placeholder {
  color: var(--para-text-clr);
}
.input_group textarea,
.input_group input {
  padding: 10px;
  background: transparent;
  outline: none;
  border: 2px solid #2d2e2f;
  border-radius: 5px;
  color: #fff;
}
.input_group textarea:focus,
.input_group input:focus {
  border: 2px solid var(--theme-clr);
  background: transparent;
  box-shadow: none;
  color: #fff;
}
.contact_form .submit_btn button {
  outline: none;
  border: 2px solid transparent;
  padding: 12px 25px;
  background: var(--theme-clr);
  color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.contact_form .submit_btn button:hover {
  color: var(--theme-clr);
  background: transparent;
  border: 2px solid var(--theme-clr);
}
/* contact area  */

/* ====Main content area css end */

/* ====== Menu section CSS ====== */

.main_menu_area {
  border: 2px solid #2d2e2f;
  max-width: fit-content;
  border-radius: 50px;
  padding-bottom: 30px;
  text-align: center;
  height: fit-content;
  position: fixed;
  top: 50%;
  right: 4%;
  transform: translateY(-50%);
}

.main_menu_area button.navbar-toggler i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--heading-text-clr);
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--section-bg-clr);
}
.main_menu_area ul.nav {
  gap: 25px;
  align-items: center;
}
.main_menu_area ul.nav .nav-item {
  position: relative;
}
.main_menu_area nav .nav-link.active {
  color: var(--theme-clr);
}

.main_menu_area ul.nav a {
  color: var(--heading-text-clr);
  text-align: left;
  transition: all 0.3s linear;
}

.main_menu_area ul.nav a:hover {
  color: var(--theme-clr);
}

.main_menu_area ul.nav a span {
  display: none;
  /* position: absolute;
  top: 0;
  left: -70px;
  margin-left: 10px;
  border: 1px solid #2d2e2f; */
  padding: 5px 7px;
  border-radius: 5px;
}

.main_menu_area ul.nav a i {
  font-size: 18px;
}
.main_menu_area .navbar-brand {
  font-size: var(--primary-heading-font-size);
  color: var(--theme-clr);
  margin-right: 0;
}
.main_menu_area .navbar-brand p {
  display: none;
}
.tooltip-inner {
  color: var(--theme-clr);
  --bs-tooltip-bg: rgba(255, 255, 255, 0.2);
}
.tooltip-arrow::before {
  border-left-color: rgba(255, 255, 255, 0.2) !important;
}

/* ====== Menu section CSS ====== */
